body {
    margin: 0 auto;
    max-width: 2800px;
  }
  .top_head {
    background: linear-gradient(180deg, rgba(230, 128, 130, 0.8) 0%, rgba(240, 216, 138, 0.8) 100%),url(./img/Layer\ 15.png) no-repeat center;
    height: 1000px;
  }
  .head_content {
    margin: 0 140px;
  }
  .head_content h1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font: 700 30px "Montserrat";
    color: #fff;
    position: relative;
    top: 25px;
  }
  .head_content ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    list-style: none;
    cursor: pointer;
    font: 400 14px "Montserrat";
    text-transform: uppercase;
    color: #fff;
  }
  .head_content ul li span {
    display: flex;
    justify-content: flex-end;
    color: #fce38a;
    font-family: "Montserrat";
  }
  .head_content ul li:hover {
    color: #fce38a;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
  }
  .head_content ul li img {
    position: relative;
  }
  .main_text {
    margin-top: 100px;
  }
  .head_content h2 {
    margin: 0;
    font: 400 72px "Kaushan Script";
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
  }
  .head_content h3 {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font: 700 150px/140px "Montserrat";
    color: #fff;
    text-transform: uppercase;
  }
  .line_header {
    width: 60px;
    height: 3px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    top: 40px;
    display: block;
  }
  .main_text button {
    width: 160px;
    height: 40px;
    margin: 0 auto;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    font: 700 14px "Montserrat";
    text-align: center;
    text-transform: uppercase;
    display: block;
    position: relative;
    top: 100px;
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
    position: relative;
    top: 300px;
  }
  .nav-item {
    position: relative;
    padding-top: 20px;
    width: 200px;
    text-align: left;
    font: 100 20px "Montserrat";
    text-transform: uppercase;
    color: #fff;
    opacity: 0.702;
  }
  .nav-item span {
    font-weight: 900;
    margin-right: 5px;
  }
  .nav-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .nav-item.active:before {
    background: linear-gradient(to right, #E68082 0%, #ffffff 70%);
  }
  .block1 {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-title h2 {
    margin-top: 50px;
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
  }
  .section-title h3 {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
  }

  .section-title p {
    height: 130px;
    font-size: 18px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
  }

  .section-title .line {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto;
  }
  .block1 .line {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px;
  }
  .block1 p {
    width: 1200px;
    height: 130px;
    font-size: 17px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
  }
  .block1 .images {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .block1 .images img {
    width: 450px;
    height: 300px;
    display: flex;
  }
  .image-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 15px;
    right: 10px;
    height: 300px;
    width: 450px;
    box-shadow: 6px 6px 0px 6px turquoise;
    background: linear-gradient(180deg, rgba(230, 128, 130, 0.8), rgba(240, 216, 138, 0.8)),url(./img/1.png);
    background-size: cover;
  }
  .users {
    max-width: 37px;
    max-height: 25px;
  }
  .block1 h5 {
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center; 
  }
  .block2 {
    height: 270px;
    background-color: #95e1d3;
    margin: 110px 240 0px 240px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
  }
  .block2 .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 320px;
  }
  .block2 h2 {
    font-size: 72px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    margin: 0;
  }
  .block2 h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    margin: 10px 0 0;
  }
  .block3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 600px;
  }
  .block3 .line2 {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px;
  }
  .service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 60px;
    max-width: 1200px;
    margin-top: 60px;
  }
  .info-row {
    display: flex;
    align-items: flex-start;
    width: 330px;
  }
  .info-row img {
    width: 36px;
    height: 36px;
    margin-right: 15px;
    margin-top: 5px;
  }
  .text h4 {
    margin: 0;
    font-size: 17px;
    color: #333333;
    font-weight: 100;
    font-family: "Montserrat";
  } 
  .text p {
    margin-top: 10px;
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
  }
  .block4 {
    position: relative;
    height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .block4 .bgi {
    background-image: url(./img/White.png);
    height: 850px;  
    filter: opacity(30%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute; 
    width: 100%;
    height: 100%;
  }
  .block4 .line2 {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-top: 30px;
    position: relative;
  }
  .block4 .ipad {
    position: relative;
    top: 65px;
    width: 470px;
    height: 580px;
  }
  .block4 .iphone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    bottom: -70px;
    left: 400px;  
  }

  .block5 {
    margin: 100px 140px 0;
    height: 800px;
  }
  
  .block5 p {
    width: 1200px;
    height: 130px;
    font: 400 17px/24px "Roboto";
    color: #999;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .block5 .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .boy{
    height: 399px;
    position: relative;
    top: 5px;
  }
  .icons {
    width: 32px;
    height: 32px;
  }  
  .icons img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
    
  }
  .content p {
    width: 530px;
    height: 135px;
    font: italic 300 15px/24px "Roboto";
    color: #999;
    text-align: left;
  }
  .border, .border2 {
    width: 600px;
    background: transparent;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .border {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: row; 
  }
  .border h3 {
    color: #cccccc47;
    display: flex;
    flex: 1;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    width: 32px;
    height: 32px;
    transform: rotate(180deg);
    margin-right: 10px;
  }
  .scroll_contain {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #95e1d3 transparent;
    height: 181px;
  }
  .content h2 {
    font: 400 14px "Montserrat";
    text-transform: uppercase;
    color: #333;
    margin: 30px;
    
  }

  .info {
    height: 290px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
  }

  .info .content {
    margin: 0px 220px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex: 1;
  }

  .info .content h3 {
    color: #cccccc6a;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 10px;
  }

  .block7 {
    height: 1050px;
  }

  .block7 .section-title h2 {
    margin-top: 50px;
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
  }
  .images {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  .person {
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mans {
    width: 100%;
    height: auto;
    transition-duration: 0.5s;
  }
  .image-bgc {
    position: relative;
    width: 100%;
    height: 470px;
    overflow: hidden;
  }
  .image-bgc::before {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(230, 128, 130, 0.8), rgba(240, 216, 138, 0.8));
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .image-bgc:hover::before {
    opacity: 1;
  }
  .mans {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 0;
  }
  .icons2 {
    width: 224px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    opacity: 0;
    color: white;
    display: flex;
    transition-duration: 0.5s;
  }
  .icons2 img:hover {
    background-color: #fc8aa7;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  .image-bgc:hover .icons2 {
    opacity: 1;
  }
  .icons2 img {
    width: 56px;
    margin: 0px;
    background-color: #fce38a;
  }
  .block7 h2 {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center; 
  }
  .person span {
  font: 400 17px/24px "Roboto";
  color: #999;
  text-align: center;
  margin-top: 5px;
  width: auto;
}

  .block8 {
    display: flex;
    justify-content: center;
  }

  .block8 img {
    width: 100%;
  }

  .block9 {
    height: 1190px;
  }

  
  .grid-img {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
  }

  .image {
    width: 100%;
    display: flex;
    
  }
  .items1 {
    grid-column: 1;
  }
  .items2 {
    grid-column: 2;
  }
  .items5 {
    grid-column: 3;
    grid-row: 1/span 2;
  }

  .items3{
    grid-column:4 ;
    grid-row: 1;
  }

  .items4{
    grid-column:1 ;
    grid-row: 2;
  }

  .items6{
    grid-column:2 ;
    grid-row: 2;
  }

  .items7{
    grid-column:4 ;
    grid-row: 2;
  }

  .info2 {
    height: 290px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .info2 .content {
    margin: 0px 220px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex: 1;
  }

  .info2 .content h3 {
    color: #cccccc6a;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    
  }
  .text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .author-block {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .line2 {
    width: 70px;
    height: 3px;
    background-color: #f38181;
  }
  
  .text-block h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    margin: 0;
  }

  .text-block p {
    width: 770px;
    height: 147px;
    font-size: 24px;
    line-height: 36px;
    color: #999999;
    font-weight: 300;
    text-align: left;
    font-style: italic;
    margin: 0;
    font-family: "Roboto";
    
  }
  .block10 {
    width: 100%;
    position: relative;
    background-image: url(./img/mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    
  }

  .block10 .section-title {
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 0% 0%;
    position: relative;
    top: 30px;

  }
  
  .people-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    background-color: rgba(255, 255, 255, 0.134);
    border-radius: 50% 0%;
    transition-duration: 0.5s;
  
  }

  .people-wrapper:hover {
    border-radius: 0%;
    background-color: rgba(255, 255, 255, 0.62);

  }

  .people-wrapper img{
    margin-top:20px;
  }
  
  .people-column {
    display: flex;
    justify-content: center;
    flex-direction:row;
    gap: 100px; 
    background-color: rgba(255, 255, 255, 0.134);
    border-radius:0% 50%;
    transition-duration: 0.5s;
   
  }

  .people-column:hover{
    border-radius: 0%;
    background-color: rgba(255, 255, 255, 0.62);
  }
  
  .people-block {
    display: block;
    text-align: center;
  }

  .content .line2 {
    display: block;
    margin: 0 auto;

  }

  .block10 .content p {
    color: #333333;
    text-align: center;
  }

  .block10 .content h3 {
    font-size: 15px;
    color: #333333;
    font-weight: 500;
    font-style: italic;
    font-family: "Roboto";
  }
  .block11{
    margin: 0px 140px;
    height: 770px;
  }

  .block11 .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block11 .img_11 {
    margin: 10px;
    width: 390px;
    position: relative;
  }

  .h2_turqose{
    position: absolute;
    top: 150px;
    left: -10px;
    width: 60px;
    height: 70px;
    background-color: #95e1d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .h2_turqose span {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Montserrat";
    margin: 0px;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;

  }

  .h2_turqose h2 {
    color: white;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    font-family: "Roboto";
  }

  .block11 .img_11 h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
  }

  .block11 .img_11 p{
    width: 380px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
  }

  .img_11 .line {
    width: 390px;
    height: 0.5px;
    background-color: grey;
    margin-bottom: 10px;
  }

  .img_11 .wiews {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 16px;
    color: #999999;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    font-family: "Roboto";
    gap: 5px;
  }

  .img_11 .wiews h4{
    font-size: 15px;
    position: relative;
    left: -3px;
    top: 4px;
  }

  .block12 {
    width: auto;
    height: 200px;
    background-image: url(./img/Map.png);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block12 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 185px;
  }
  .block12 .container img {
    width: 22px;
    height: 30px;
  }

  .block12 .container h2 {
    font-size: 23px;
    text-transform: uppercase;
    color: #f38181;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    display: flex;
    flex-direction: row;

  }

  .block12 .container .line {
    width: 60px;
    height: 3px;
    background-color:#f38181;
  }

  .block13 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: 700px;

  }

  .block13 .one_form {
    width: 460px;
  }

  .one_form h2{
    font-size: 46px;
    color: #cccccc;
    font-weight: 700;
    font-family: "Montserrat";
    text-transform: none;
    margin: 0px;
  }

  .one_form p {
    width: 460px;
    margin-top: 10px;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }

  .one_form span {
    font-size: 18px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
  }

  .one_form h3 {
    font-size: 18px;
    color: #333333;
    font-family: "Montserrat";
  }

  .one_form .line {
    width: 460px;
    height: 1px;
    background-color: #99999958;
    margin: 15px 0px;
  }

  .form .follow {
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  .form .follow img {
    position: relative;
    bottom:5px;
  }

  .form .follow h3{
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
  }

  .block13 .two_form , .three_form {
    width: 460px;
    height: 490px;
  }

  .block13 .two_form h2 {
    font-size: 15px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";

  }

  .block13 .two_form p {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    width: auto;
    height: auto;
    font-style: normal;
    
  }

  .block13 .two_form h4 {
    font-size: 13px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    display: flex;
  }

 

  .two_form .img_T img {
    width: 150px;
    height: auto; 
  }

  .two_form .img_T {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
  }

  .block13 h3 {
    font-size: 13px;
    line-height: 24px;
    color: #333333;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    margin-top: 30px;
  }

  .three_form {
    position: relative;
    top: 5px;
  }

  .three_form .images img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .three_form .images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
  }

  .last-line {
    height: 1px;
    background-color: #e5e5e5;

  }


  .bottom h2 {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin: 10px;
  }
  .bottom span {
    color:#f38181 ;
  }







  
  

  
  

  


  



  

  

